/* ReqS5 */
main{
    background-color: #fcf4d9;
    border: 0.2em solid #643c28;
    border-radius: 1em;
    color: #3e2723;
    padding: 1rem;
}

/* Ejercicio 5 */
section{
    font-family: Georgia, serif;
    line-height: 1.3;
}

/* ReqS7 */
article p::first-letter{
    font-size: 2em;
    font-weight: bold;
}

/* ReqS9 */
#info-npc {
    /*Cuadrado amarillo con texto*/
    background-color: #ffd54f; /* Sobrescribe el blanco de styles.css */
    border-radius: 0.5em;
}

/* ReqS13 */
nav a{ /*Decoracion de botones*/
    display: inline-block;
    padding: 0.5rem;
    margin: 0.2rem;
    text-decoration: none;
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: bold;
    color: darkblue;
    background-color: #ffd54f;
    border-radius: 0.5em;
}

/* ReqS15 */
nav a.activo { /*Boton Personajes*/
    background-color: #ff9800;
    color: white;
    border: 0.1rem solid #e65100;
}

section p{
    font-family: Georgia, serif;
}

section > p{
    padding: 0.5rem;
    color: darkblue;
    font-weight: bold;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2 + p{
    font-weight: bold;
}

h2 ~ p{
    line-height: 1.3rem;
    color: darkblue;
}
